# Ignore Play! working directory #
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver
/.sass-cache
/project/project
/project/target
project/.sbtserver
/start_debug.bat
